body{
  background-image: url("../img/Pattern.png");
  background-repeat: repeat;
  font-family: 'Quicksand', sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: inherit;
  text-decoration: none;
}

.login{
  width: 100%;
  text-align: center;
}

.login .input-group{
  margin: 0px auto;
  margin-top: 20px;
  float: none;
}

.login i{
  color: gray;
}

.login .userlog{
  font-size: 50px;
  padding-top: 20px;

  animation-name: rotateInv;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.al_load{
  margin: 0px auto;
  width: 100px;
  height: 100px;
  border: 5px solid white;
  border-radius: 50px;
  border-right-color: #3296ff;
  border-left-color: #3296ff;

  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.expired{
  animation-name: blink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes blink{
  0%{ background-color: #ff4646; }
  50% { background-color: #ffffff; }
  100% { background-color: #ff4646; }
}

@keyframes rotate{
  0%{ transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotateInv{
  0%{ transform: rotate(0deg); }
  50% { transform: rotate(-360deg); }
  100% { transform: rotate(-360deg); }
}

.al_btn{
  padding-left: 10px;
  margin-top: 10px;
  width: 150px;

  border: 1px solid white;
  font-size: 20px;
  z-index: 1;

  cursor: pointer;
}

.al_alert{
  background-color: rgb(244, 83, 61);
  color: white;
  width: 40%;
  padding: 10px;
  margin: 0px auto;
  margin-bottom: 20px;
}

.al_info{
  background-color: #50a6ff;
  color: white;
  width: 40%;
  padding: 10px;
  margin: 0px auto;
  margin-top: 30px;
}

.login .fa-arrow-right{color:#60cf39;}

.login .al_btn{
  text-align: left;
  margin: 0px auto;
}

.al_btn.al_submit{
  margin-top: 80px;
  border-color: #60cf39;
  color:#60cf39;
}
.anim_btn.al_submit{
  background-color: #60cf39;
}
.anim_btn.al_submit:hover{
  color: white;
}

.al_btn.al_delete{
  margin-top: 10px;
  border-color: #cf4639;
  color:#cf4639;
}
.anim_btn.al_delete{
  background-color: #cf4639;
}
.anim_btn.al_delete:hover{
  color: white;
}

.anim_btn{
  padding-left: 10px;
  position: absolute;
  z-index: 2;
  transition: 0.4s;
  transition-timing-function: ease-in;
  width: 0px;
  margin-left: -10px;
  background-color: white;
}
.anim_btn:hover{
  width: 150px;
  color: #3296ff;
}

.al_nav{
  background-color: #3296ff;
  width: 240px;
  height: 100%;
  position: fixed;

  top: 0px;
  left: 0px;

  color: white;
  padding: 10px;
}

.title{
  font-size: 24px;
  line-height: 13px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.title i{
  font-size: 15px;
}

.content{
  padding: 20px;

  margin-left: 260px;
  margin-top: 20px;
  margin-right: 20px;

  background-color: white;
  border-radius: 5px;

  width: auto;
}

h3{
  margin-bottom: 2px;
  margin-top: 50px;
}
